@use 'base/variables';
@use 'blocks/promo';
@use 'blocks/header';
@use 'blocks/buttons';
@use 'blocks/benefits';
@use 'blocks/titles';
@use 'blocks/media';
@use 'blocks/consultation';
@use 'blocks/forms';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
