@use 'base/variables';
@use 'blocks/promo';
@use 'blocks/header';
@use 'blocks/buttons';
@use 'blocks/benefits';
@use 'blocks/titles';
@use 'blocks/consultation';
@use 'blocks/forms';
@use 'blocks/carousel';
@use 'blocks/catalog';
@use 'blocks/reviews';
@use 'blocks/footer';

//запросы должны быть подключены в последнюю очередь
@use 'blocks/media';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
