@use "base/variables" as *;
.button {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    &_main {
        margin-top: 65px;
        width: 303px;
        height: 54px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        background-color: $main-color;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
        &:hover {
            box-shadow: 3px 3px 10px rgb(146, 130, 130);
        }
    }
}