@use 'base/variables' as *;
.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../images/bg2.png') center (center / cover) no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    .error {
        border: 3px solid $main-color;
        margin-bottom: 15px;
    }
    label.error {
        color: #ffffff;
        border: none;
    }
}