@use 'base/variables' as *;
.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $black-color;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
    }
}